.landing-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F3F3F3;
}

.emps-logo, .register-modal-logo, .login-modal-logo {
    width: 85%;
    height: auto;
}

.landing-page-wild-up-events-white {
    width: 13%;
    height: auto;
}