.container {
    background-color: transparent;
    width: 80%;
    height: 90%;
    perspective: 1000px;
    margin: auto;
    border: 5px;
    border-radius: 10px;
    position: relative;
  }


  .venue-form {
    margin: 20px 0;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .venue-list {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    align-items: center;
  }
  
  .sep {
    background-color: #9C9898;
    color: black;
    padding: 50px;
    border-radius: 10px;
    min-width: 100vh;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
  }